html, 
body {
	font-family: "Open Sans", sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Teko", sans-serif;
	color: #ffffff;
	font-size: 3em;
	text-align: center;
}

h2 {
	
}

p {
	
}

input {
	font-family: "Open Sans", sans-serif; 
	font-color: white; 
	font-size: 1em; 
	border: 1px solid grey;
	background-color: #FFFFFF; 
	height: 3em; 
	width: 100%; 
	text-align: center;

}

.nav-1 {
	background-color: #6caf56;
}

.nav-2 {
	background-color: #6caf56;

}

.nav-3 {
	background-color: lightgrey;
	text-align: center;
}

.nav-4 {
	background-color: #ffffff;
	text-align: center;
	min-height: 5em;

	
	
}

.result-nav {
	height: 100%
	background-color: red;
}

#map {
	
	
	height: 800px;
}

#result-p {
	padding-top: 1em;
}

#buttons {
	list-style-type: none;
}

li {
	border: solid 1px grey;
	cursor: pointer;
}

.all {

}

p {
	width: 80%;
}

.extract {

}

.search-p {
	padding-top: 1em;
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif; 
  color: #ffffff;
  font-size: 20px;
  background: #318507;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 1em; 
  margin-bottom: 1em; 
  margin-right: 1em;
}

.btn:hover {
  background: #32b307;
  text-decoration: none;
}


.back-to-top {
	 color: white;
	 background: darkgreen;
	 position: fixed;
	 bottom:20px;
	 right:20px;
	 padding:1em;
}

